@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&family=Combo&family=Reem+Kufi+Fun&display=swap');
body
{
	background-color: #B79E7E;
	margin: 0;
}
header
{
	background-color: #000000;
	background-image: url('images/.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	font-family: fantasy;
	color: #C0AF98;
}
h1
{
	text-align: center;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav
{
	text-align: center;
	margin-top: 0;
}
nav a
{
	text-decoration: none;
	margin: 0 10px 10px 10px;


}
nav a:link
{
	color: white;
}
nav a:visited
{
	color: white;
}
nav a:hover
{
	text-decoration: overline;
	font-style: italic;
	color: white;
}
nav a:active
{
	color: #000000;
}
nav ul 
{
	float: center;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
	padding-left: 8px;
	list-style-type: none;
}
nav li 
{
	float: center;
	display: inline-block
}
main 
{
	color: #000;
	max-width: 1200px;
	margin: auto;
	font-family: combo;
}
h2
{
	background-color: rgb(0, 0, 0, 0.3);
	border-radius: 5px;
}
.home-hero
{
	background-image: url(images/header.jpg);
	height: 475px;
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 350px 10px 10px 20px;
}
img 
{
	border: 1px solid grey;
}
footer
{
	background-color: #EDE6DC;
	text-align: center;
}
footer a 
{
	text-decoration: none;
	color: #000;
	margin: 10px;
}
footer a:hover
{
	text-decoration: overline;
	font-style: italic;
	color: #000;
}
small
{
	color: #000;
	font-style: italic;
	display: block;
}
#wrapper
{
	background-color: #90c7e3;

}
@media only screen and (max-width: 1024px)
{

}

@media only screen and (max-width: 768px)
{
	img 
	{
		display: block;
		margin: 0 auto;
	}

}